
.DS_Store

## User settings
xcuserdata/


*.podspec
.Pods/
.Podfile.lock
*.xcworkspace

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
